:root {
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  width: 300px;
}

main {
  width: 100%;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  width: 100%;
  cursor: pointer;

  &::-moz-range-progress {
    background-color: #484849;
    height: 5px;
  }
  &::-moz-range-track {
    background-color: #d3d3d3;
    height: 5px;
  }
  &::-ms-fill-lower {
    background-color: #484849;
    height: 5px;
  }
  &::-ms-fill-upper {
    background-color: #d3d3d3;
    height: 5px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #484849;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #484849;
}

p {
  font-size: 14px;
  font-weight: 600;
}
